#input files
*.fasta
input/**/*.csv
input/**/*.tsv
input/**/*.gz
# *.fa

#output files
output/
*.out
*.swp
*.csv
#do NOT ignore the processed data files
#!input/data/**/*.csv

# log files
*.log

#IDE files (PyCharm/ IntelliJ)
.idea/

#pycache
**/__pycache__/**
*.pyc


#jupyter-notebook cache
**/.ipynb_checkpoints/*
**/jupyter_notebooks/runs/*

#tensorboard files
runs/**