#input files
*.fasta
# *.fa

#output files
output/
*.out
*.swp
*.csv
#do NOT ignore the processed data files
!input/data/**/*.csv

# log files
*.log

#IDE files (PyCharm/ IntelliJ)
.idea/

#pycache
**/__pycache__/**
*.pyc